# Treasure hunt with Pandas

The result of our indexing should always be the string `'TREASURE'`.

In [1]:
import pandas as pd

In [2]:
# Load in the file treasure_hunt.csv as a dataframe called treasure_df. 
# Read in the first column as the dataframe index column and the first row as the dataframe columns.
treasure_df = pd.read_csv("treasure_hunt.csv", index_col = 0)
treasure_df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C21,C22,C23,C24,C25,C26,C27,C28,C29,C30
R1,T,W,W,R,A,L,E,A,J,B,...,H,A,Q,O,S,Q,C,N,TREA,SURE
R2,U,R,O,N,Y,D,K,N,K,T,...,T,D,M,D,W,F,N,I,E,A
R3,X,H,E,F,T,C,Y,Z,O,B,...,J,X,S,K,P,A,I,E,S,U
R4,R,Q,E,A,W,D,X,T,Z,K,...,Y,C,Y,W,P,I,G,B,R,E
R5,R,G,Q,Z,S,L,W,U,W,Q,...,Z,N,J,R,Z,G,M,P,Q,Y

In [3]:
treasure_df.loc["R1","C20"]

'TREASURE'

In [4]:
treasure_df.loc["R13","C13"]

'TREASURE'

In [5]:
treasure_df.loc["R28", "C10"]

'TREASURE'

In [6]:
treasure_df.iloc[27,9]

'TREASURE'

In [7]:
result = ""
for i in range(18,26):
    result += treasure_df.iloc[i,25]
result

'TREASURE'

In [8]:
treasure_df.iloc[0,28] + treasure_df.iloc[0,29]

'TREASURE'

In [9]:
treasure_df.loc["R1","C29"] + treasure_df.loc["R1","C30"]

'TREASURE'

In [10]:
# The first row of all columns that **do not** have a "Z" in the last row.
word = ""
for letter in (treasure_df.iloc[-1][treasure_df.iloc[-1].apply(lambda x: not x.endswith('Z'))].index.tolist()):
    word += (treasure_df.loc["R1", letter])
word

'TREASURE'

# Mind the gap

We will use the [Gapminder dataset](https://www.gapminder.org/about/). Gapminder is an educational foundation that aims to use data to unbiasedly describe trends in health and socioeconomics; it is a great source of geographical, socioeconomic, and health data - a subset of which we'll be exploring here. In particular, we'll be exploring a dataframe of the following features in this exercise:

|     | country     | continent | year | lifeExp | pop      | gdpPercap  |
|:---:|:-----------:|:---------:|:----:|:-------:|:--------:|:----------:|
|  0  | Afghanistan | Asia      | 1952 | 28.801  | 8425333  | 779.445314 |
|  1  | Afghanistan | Asia      | 1957 | 30.332  | 9240934  | 820.853030 |
|  2  | Afghanistan | Asia      | 1962 | 31.997  | 10267083 | 853.100710 |
|  3  | Afghanistan | Asia      | 1967 | 34.020  | 11537966 | 836.197138 |
|  4  | Afghanistan | Asia      | 1972 | 36.088  | 13079460 | 739.981106 |
| ... |     ...     |    ...    | ...  |   ...   |   ...    |    ...     |

Read the gapminder dataset into a dataframe called `df` from this url: <https://raw.githubusercontent.com/jstaf/gapminder/master/gapminder/gapminder.csv>

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/jstaf/gapminder/master/gapminder/gapminder.csv")
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [12]:
len(df.index)

1704

Which continent has the most observations in the gapminder dataset?

In [13]:
pd.DataFrame(df["continent"].value_counts())

          continent
Africa          624
Asia            396
Europe          360
Americas        300
Oceania          24

What are the minimum and maximum life expectancies in the dataset, and what are the corresponding countries and the years?

In [14]:
r = df.iloc[df["lifeExp"].argmin()][["lifeExp","country", "year"]]
print("Minimum life expectancy:",r[0], "\nCountry:", r[1], "\nYear :", r[2])

Minimum life expectancy: 23.599
Country: Rwanda
Year : 1992

In [15]:
r = df.iloc[df["lifeExp"].argmax()][["lifeExp","country", "year"]]
print("Maximum life expectancy:",r[0], "\nCountry:", r[1], "\nYear :", r[2])

Maximum life expectancy: 82.603
Country: Japan
Year : 2007

How much larger is the total population in this dataset in 2007 compared to 1952?

In [16]:
pop1952 = df[df["year"]==1952]["pop"].sum()
pop2007 = df[df["year"]==2007]["pop"].sum()
print(f"The population in 2007 is {pop2007/pop1952:.1f} times larger than in 1952")

The population in 2007 is 2.6 times larger than in 1952

What is the mean life expectancy of countries with the highest 50% of `gdpPercap` and countries with the lowest 50% of `gdpPercap`?

In [17]:
mymed = df["gdpPercap"].median()
print("Mean life expectancy of countries with the \033[1mhighest 50%\033[0m of 'gdpPercap' is:",df[df["gdpPercap"]>mymed]["lifeExp"].mean())
print("Mean life expectancy of countries with the \033[1mlowest 50%\033[0m of 'gdpPercap' is:",df[df["gdpPercap"]<mymed]["lifeExp"].mean())

Mean life expectancy of countries with the highest 50% of 'gdpPercap' is: 68.92789084507042
Mean life expectancy of countries with the lowest 50% of 'gdpPercap' is: 50.02098788732395

# Dirty to Clean

In this task we will clean up a "dirty" version of the Gapminder dataset.

Our goal is to load in "dirty Gapminder" as a dataframe called `dirty` and "clean Gapminder" as a dataframe called `clean`, and wrangle `dirty` until it is the same as `clean`:
- [Dirty Gapminder](https://raw.githubusercontent.com/STAT545-UBC/STAT545-UBC.github.io/master/gapminderDataFiveYear_dirty.txt)
- [Clean Gapminder](https://raw.githubusercontent.com/STAT545-UBC/STAT545-UBC.github.io/master/gapminderDataFiveYear.txt)

We will do a test to check that `dirty` is the same as `clean`. Things we might want to do to clean up `dirty`:

- Check that `dirty` and `clean` have the same columns;
- Check if there is any missing data, if there is missing data (NaNs or empty strings) fill them with sensible values;
- Check for things like capitalization, spelling, etc;
- There may be entries that appear to have the exact same spelling and capitalization in both `dirty` and `clean`, but still don't match.
- Extra whitespace is often a frustrating (and invisible) problem when wrangling text data. We can use `Series.str.strip()` to trim any additional unwanted whitespace around a string.
- At any time, we can check which rows in `dirty` are not equal to `clean` using something like: `dirty[dirty.ne(clean).any(axis=1)]`.

In [18]:
dirty_url = "https://raw.githubusercontent.com/STAT545-UBC/STAT545-UBC.github.io/master/gapminderDataFiveYear_dirty.txt"
clean_url = "https://raw.githubusercontent.com/STAT545-UBC/STAT545-UBC.github.io/master/gapminderDataFiveYear.txt"
dirty = pd.read_csv(dirty_url, delimiter = "\t")
clean = pd.read_csv(clean_url, delimiter = "\t")

In [19]:
clean.dtypes

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [20]:
dirty.dtypes

year           int64
pop          float64
lifeExp      float64
gdpPercap    float64
region        object
dtype: object

In [21]:
dirty.head()

   year         pop  lifeExp   gdpPercap            region
0  1952   8425333.0   28.801  779.445314  Asia_Afghanistan
1  1957   9240934.0   30.332  820.853030  Asia_Afghanistan
2  1962  10267083.0   31.997  853.100710  Asia_Afghanistan
3  1967  11537966.0   34.020  836.197138  Asia_Afghanistan
4  1972  13079460.0   36.088  739.981106  Asia_Afghanistan

We observe that the data types of the columns match but, the 'region' column will have to be split to create a 'country' column and a 'continent' column and the 'region' column will have to be dropped.

In [22]:
dirty["country"] = dirty["region"].str.split("_", expand = True).iloc[:,1] # create 'country' column
dirty["continent"] = dirty["region"].str.split("_", expand = True).iloc[:,0] # create 'continent' column
dirty = dirty.drop(columns=["region"]) # dropping the 'region column'

Reordering columns

In [23]:
dirty = dirty[["country","year","pop","continent","lifeExp","gdpPercap"]]

In [24]:
dirty.iloc[240:243,:]

    country  year         pop continent  lifeExp    gdpPercap
240  Canada  1952  14785584.0              68.75  11367.16112
241  Canada  1957  17010154.0              69.96  12489.95006
242  Canada  1962  18985849.0              71.30  13462.48555

The three column values above need to be assigned the correct 'continent'.

In [25]:
dirty.loc[(dirty['country'] == "Canada") & (dirty["continent"] == ""), 'continent'] = 'Americas'

In [26]:
dirty[dirty.ne(clean).any(axis=1)]

,country,year,pop,continent,lifeExp,gdpPercap
257,Central african republic,1977,2.167533e+06,Africa,46.77500,1109.374338
258,Central african republic,1982,2.476971e+06,Africa,48.29500,956.752991
259,Central african republic,1987,2.840009e+06,Africa,50.48500,844.876350
260,Central african republic,1992,3.265124e+06,Africa,49.39600,747.905525
293,china,1977,9.434550e+08,Asia,63.96736,741.237470
294,china,1982,1.000281e+09,Asia,65.52500,962.421381
295,china,1987,1.084035e+09,Asia,67.27400,1378.904018
296,china,1992,1.164970e+09,Asia,68.69000,1655.784158
302,Colombia,1962,1.700988e+07,Americas,57.86300,2492.351109
303,Colombia,1967,1.976403e+07,Americas,59.96300,2678.729839
328,Democratic Republic of the Congo,1972,2.300767e+07,Africa,45.98900,904.896068
333,"Congo, Democratic Republic",1997,4.779899e+07,Africa,42.58700,312.188423
369,Cote d'Ivore,1997,1.462597e+07,Africa,47.99100,1786.265407
815,Jordan,2007,6.053193e+06,Asia,72.53500,4519.461171
828,"Korea, Dem. Rep.",1952,8.865488e+06,Asia,50.05600,1088.277758
829,"Korea, Dem. Rep.",1957,9.411381e+06,Asia,54.08100,1571.134655

In [27]:
dirty.isna().all()

country      False
year         False
pop          False
continent    False
lifeExp      False
gdpPercap    False
dtype: bool

There are no NA values in the dirty dataframe as can be seen above.

Removing all white spaces in the entire dataframe.

In [28]:
dirty = dirty.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

Fixing things like the capitlization, titles, country and continent names.

In [29]:
dirty.loc[257:261, "country"] = dirty.loc[257:261, "country"].str.title()
dirty.loc[293:297, "country"] = dirty.loc[293:297, "country"].str.capitalize()
dirty.loc[369,'country'] = "Cote d'Ivoire" 
dirty.loc[[328, 333],'country'] = "Congo, Dem. Rep."

In [30]:
dirty[dirty.ne(clean).any(axis=1)]

Empty DataFrame
Columns: [country, year, pop, continent, lifeExp, gdpPercap]
Index: []

From above, we can see that all the data in clean dataframe is exactly equal to the data in dirty dataframe.